/* // index.css - used to apply styles that will be globally applied to the entire application */

body {
  /* // "overflow-y" - property specifies to clip the content vertically. "scroll" - always show a scroll bar */
  overflow-y: scroll;
  /* // "overflow-x" - property specifies to clip the content horizontally. "hidden" - there will never be a scroll bar */
  overflow-x: hidden;
}

/* // The :root pseudo-class represents an element that is the root of the document. In HTML, this is always the HTML element. */
:root,
body,
html {
  /* // background color for the whole application */
  background-color: #35363a;
  /* // "box-sizing" - CSS property sets how the total width and height of an element is calculated. "border-box" -  fits within specified size. */
  box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
label,
li,
nav,
p,
small,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: white;
}

body {
  font-family: Arial, sans-serif;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
